{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'clickable.js' %}"></script>
</head>
<body>
    <h2>Hello World</h2>
    <button id='click'>Click Here</button>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga, recusandae neque iste repudiandae libero exercitationem iure rem cum cumque.</p>
</body>
</html>